:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #fefefe;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #ff2222;
  --shadowRed: #aa2222;
  --mainGreen: #11cc11;
  --mainGrey: #ededed;
  --iconGrey: #cbcbcb;
  --shadowGrey: #babababa;
  --bgClear: rgba(0, 0, 0, 0.6);
}

.title-text {
  font-size: 2rem;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  background: var(--mainGrey);
}

.navbar {
  text-align: center;
  color: var(--mainWhite);
  background: var(--mainRed);
}

.title-text {
  font-family: "Cabin", sans-serif !important;
  font-size: 2rem;
  color: var(--mainWhite) !important;
}

.nav-icon-span {
  color: var(--mainWhite);
}
