:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #fefefe;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #ff2222;
  --shadowRed: #aa2222;
  --mainGreen: #11cc11;
  --mainGrey: #ededed;
  --iconGrey: #cbcbcb;
  --shadowGrey: #babababa;
  --bgClear: rgba(0, 0, 0, 0.6);
}

.title-text {
  font-size: 2rem;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  background: var(--mainGrey);
}

.navbar {
  text-align: center;
  color: var(--mainWhite);
  background: var(--mainRed);
}

.title-text {
  font-family: "Cabin", sans-serif !important;
  font-size: 2rem;
  color: var(--mainWhite) !important;
}

.nav-icon-span {
  color: var(--mainWhite);
}

.list-group-item {
  border: 0.2rem solid var(--mainRed) !important;
  border-radius: 15px !important;
  text-align: center;
  transition: all 0.2s linear;
}

.input-button {
  background: var(--mainRed) !important;
  color: var(--mainWhite) !important;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.input-button:hover {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
  color: var(--mainWhite);
  background: var(--shadowRed);
}

.submit-button {
  background: var(--mainRed);
  color: var(--mainWhite);
  border-radius: 15px;
}

.submit-button:hover {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
  color: var(--mainWhite);
  background: var(--shadowRed);
}

.disabled-button {
  background: var(--iconGrey);
  color: var(--mainDark);
  border-radius: 15px;
}

.input-group-text {
  background: var(--mainRed);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.recipe-list {
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .recipe-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .recipe-list {
    width: 85vw;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1140px) {
  .recipe-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recipe-card {
  background: var(--mainWhite);
  border-radius: 1rem;
  margin: 1rem 0;
  border: 0.2rem solid var(--mainRed);
  transition: all 0.2s linear;
  height: 100%;
  position: relative;
}

.recipe-card:hover {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  border: 0.2rem solid var(--shadowRed);
}

.recipe-card-icons-row {
  text-align: center;
  padding-bottom: 0.1rem;
  font-size: 1.5rem;
  color: var(--iconGrey);
  position: absolute;
  bottom: 0%;
  right: 10%;
  left: 10%;
}

.img-container {
  position: relative;
}

.recipe-card-image {
  width: 100%;
  height: 15rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  display: block;
}

.recipe-info {
  padding: 1rem 0.5rem;
}

.recipe-info > h3 {
  text-transform: capitalize;
  color: var(--mainGreen);
}
.recipe-info > h4 {
  color: var(--mainDark);
  margin: 0.2rem 0 0.6rem 0;
}
.recipe-info > h5 {
  color: var(--mainDark);
  text-align: left;
  padding-bottom: 0.7rem;
}
.recipe-card-icons-row {
  text-align: center;
  padding-bottom: 0.1rem;
  font-size: 1.5rem;
  color: var(--iconGrey);
  position: absolute;
  bottom: 0%;
  right: 10%;
  left: 10%;
}

.downvoted {
  color: var(--lightBlue);
}
.upvoted {
  color: var(--lightBlue);
}

.favorited {
  color: var(--mainRed);
}

.comment-area {
  min-height: 10rem;
}

.form-control {
  border-radius: 15px;
}
